@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: #4A4A4A;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #6556cd;
}

::-webkit-scrollbar-track {
    background: #2C2C2C;
    border-radius: 10px;
}